{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles-dashboard.css' %}">
    <title> Results Page </title>
</head>
<body>
    <div class="header-container"> 



    </div>

    {% if user.is_authenticated %}
    <h1> Welcome {{username}},</h1>
    {%else%}
    <h1>Not Authenticated</h1>
    {%endif%}
    {% if result %}
        <h1> {{result}} </h1>
    {% else %}
        <h1> No Result </h1>
    {% endif %}

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    
</body>
</html>