<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Login Page </title>
</head>
<body>
    <h1> Welcome to the Login Page</h1>
    <p> Not logged in?<a href="/register/">Register</a></p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- This will render the form fields with paragraph tags -->
        
        {% for field in form %}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>  <!-- Display errors for each field -->
            {% endfor %}
        {% endfor %}
        
        <input type="submit" value="Submit">
    </form>
    {% if messages %}
    {% for message in messages %}
        <div class="message">{{ message }}</div>
    {% endfor %}
    {% endif %}
</body>
</html>